.main_body_cont {
    position: relative;
    height: 81.5vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_body_cont .image_div {
    position: relative;
    height: 100%;
    width: 35.8%;
    background: url(https://cdn.bajajauto.com/images/test-rides/twfi-testride.webp);
    background-size: 99.3%;
    background-repeat: no-repeat;
    background-position: calc(40%);
    margin-left: -12px;
    margin-top: -15px;
}

.main_body_cont .image_div::after {
    content: '';
    position: absolute;
    height: 100%;
    width: 90%;
    top: 0;
    left: 0;
    background-color: #f2f2f2;
    z-index: -1;
}

.main_body_cont .finance_div {
    position: relative;
    height: 100%;
    width: 65%;
}